@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

* {
	margin :0;
	padding :0;
	color : #000;
	font-family : 'Pretendard';
	box-sizing : border-box;
}

::selection {
    background : #FFA800;
}

header.container {
    width : 100%;
    height : 64px;
    display : flex;
    align-items : center;
    justify-content : space-between;
    background-color : #FFA800;
    font-size : 32px;
    font-weight : 800;
}

header.container > a {
    text-decoration : none;
}

.title {
    width : 736px;
    margin : 0 auto;
    color : white;
}

section.container {
	width : 736px;
	margin : 0 auto;
}

.info {
    margin-top : 32px;
}

.info > h1 {
    font-size : 32px;
    font-weight : 700;
    display : inline-block;
}

.info > p {
    font-size : 16;
    font-weight : 400;
    margin-top : 8px;
}

.drawingCanvas {
    display : flex;
    flex-wrap : wrap;
    justify-content : space-between;
    width : 736px;
    height : 490px;
    background-color : white;
    margin-top : 32px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .15);
    border-radius : 8px;
}

.configWrapper {
    display : flex;
    justify-content : space-between;
}

.colorPalette {
    display : flex;
    flex-wrap : wrap;
    justify-content : space-between;
    padding : 16px 16px;
    width : 434px;
    height : 60px;
    background-color : white;
    margin-top : 16px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .15);
    border-radius : 8px;
}

.colorPalette > h2 {
    font-size : 24px;
    font-weight : 700;
    margin : auto 0;
}

.radioButton {
    appearance : none;
    width : 24px;
    height : 24px;
    border-radius : 50%;
    margin : auto 0;
}

.radioButton#radioBlack {
    background-color : #000000;
}

.radioButton#radioBlack:checked {
    border : 7px solid #000000;
    background-color : white;
    transition : 0.2s;
}

.radioButton#radioRed {
    background-color : #EB445A;
}

.radioButton#radioRed:checked {
    border : 7px solid #EB445A;
    background-color : white;
    transition : 0.2s;
}

.radioButton#radioOrange {
    background-color : #F19A37;
}

.radioButton#radioOrange:checked {
    border : 7px solid #F19A37;
    background-color : white;
    transition : 0.2s;
}

.radioButton#radioYellow {
    background-color : #F7CE46;
}

.radioButton#radioYellow:checked {
    border : 7px solid #F7CE46;
    background-color : white;
    transition : 0.2s;
}

.radioButton#radioGreen {
    background-color : #76D672;
}

.radioButton#radioGreen:checked {
    border : 7px solid #76D672;
    background-color : white;
    transition : 0.2s;
}

.radioButton#radioBlue {
    background-color : #78C6F5;
}

.radioButton#radioBlue:checked {
    border : 7px solid #78C6F5;
    background-color : white;
    transition : 0.2s;
}

.radioButton#radioNavy {
    background-color : #3478F6;
}

.radioButton#radioNavy:checked {
    border : 7px solid #3478F6;
    background-color : white;
    transition : 0.2s;
}

.radioButton#radioViolet {
    background-color : #5856CF;
}

.radioButton#radioViolet:checked {
    border : 7px solid #5856CF;
    background-color : white;
    transition : 0.2s;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

.stroke {
    display : flex;
    flex-wrap : wrap;
    justify-content : space-between;
    width : 286px;
    height : 60px;
    background-color : white;
    margin-top : 16px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .15);
    border-radius : 8px;
    padding : 16px 16px;
}

input[type=range] {
    appearance : none;
    width: 164px;
    height: 18px;
    border-radius: 8px;
    background: #d7dcdf; 
    outline: none;
    padding: 0;
    margin: auto;
}

input[type=range]::-webkit-slider-thumb {
    appearance : none;
    width : 18px;
    height : 18px;
    background : #FFA800;
    border-radius : 16px;
    cursor : pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
    background : #FFC960;
    transition : 0.2s;
    width : 24px;
    height : 24px;
}

input[type=range]::-ms-fill-lower { 
    background: #FFC960;
}

form {
    display : flex;
    flex-wrap : wrap;
    justify-content : space-between;
}

input[type=text] {
    width : 601px;
    background-color : white;
    margin-top : 16px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .15);
    border-radius : 8px;
    padding : 16px 16px;
    stroke-width : 4px;
    border : 4px #FFA800;
    outline-color : #FFA800;
    font-size : 16px;
    font-weight : 700;
}

input[type=text]::placeholder {
    color : #A9A9AC;
    font-weight : 700;
}


input[type=submit] {
    all : unset;
    appearance : none;
    display : inline-block;
    font-size : 16px;
    font-weight : 700;
    color : white;
    border-radius : 8px;
    padding : 8px 16px;
    background-color : #FFA800;
    margin-top : 16px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .15);
    text-align : center;
}

input[type=submit]:hover {
    background-color : #FFC960;
    transition : 0.2s;
}

footer {
    margin-top : 64px;
}