@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

* {
	margin :0;
	padding :0;
	color : #000;
	font-family : 'Pretendard';
	box-sizing : border-box;
}
body {
    height:100%;
}

::selection {
    background : #FFA800;
}

header.container {
    width : 100%;
    height : 64px;
    display : flex;
    align-items : center;
    justify-content : space-between;
    background-color : #FFA800;
    font-size : 32px;
    font-weight : 800;
    position:absolute;
}
header.container > a {
    text-decoration : none;
}

.title {
    width : 736px;
    margin : 0 auto;
    color : white;
}

section.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    width:100vw;
    height:100vh;
    transition:all 300ms;
}
.containerTitle {
    font-size : 64px;
    font-weight : 900;
    color : #FFA800;
    margin-bottom : 16px;
}
.sub {
    font-size : 16px;
    font-weight : 400;
    margin-bottom : 16px;
}
.answer {
    font-size : 24px;
    font-weight : 700;
}
.answer__correct{
    color:#FFA800;
}

.list-btn > button {
    font-size : 16px;
    color : white;
    background-color: #FFA800;
    border : none;
    padding : 16px;
    margin-top : 16px;
    border-radius : 8px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .15);
}
.list-btn > button:hover {
    background-color: #FFC960;
    transition:200ms;
}
.list-btn > button:active {
    transform: scale(1.1);
}

/*Add style go back button*/

.back {
    all : unset;
    appearance : none;
    position : absolute;
    display : inline-block;
    font-size : 16px;
    font-weight : 900;
    color : #FFA800;
    border-radius : 8px;
    padding : 10px 16px 6px 16px;
    background-color : white;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .15);
    text-align : center;
    margin-left : 16px;
}

.back:hover {
    background-color : #ffeabf;
    transition : 0.2s;
}

.back:active {
    background-color : #ffca61;
    transform: scale(1.1);
}