/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

body {
    background-color: #f1f4f8;
    font-family: -apple-system;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.canvas{
    width: 700px;
    height: 700px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0,0,0, 0.068);
}

.controls{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls .controls__colors {
    display: flex;
}

.controls__colors .controls__color{
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0,0,0, 0.068);
    border-radius: 25px;
}

.controls .controls__btns {
    margin-bottom: 30px;
}

.answer-inform {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
