<!DOCTYPE html>
<html>
    <head> 
        <meta charset = "UTF-8">
        <title>Sherlock-Holmes</title>
        <link rel = 'stylesheet' type = 'text/css' href = "../static/css/style.css">
    </head>
    <body>
        <header class = 'container'>
            <button class = 'back' onclick = 'window.history.back()'>⬅</button>
            <a href = "/" class = 'title'>SHERLOCK HOLMES</a>
        </header>
            <section class = 'container'>
                <span class="containerTitle">
                    404 : 페이지가 없습니다!
                </span>
                <span class="sub">
                    메인 페이지로 가셔서 다시 시도해주세요.
                </span>
                <a class="list-btn" href="/">
                    <button>
                        목록으로 돌아가기
                    </button>
                </a>
            </section>
        <footer>
        </footer>
    </body>
</html>