<!DOCTYPE html>
<html>
    <head> 
        <meta charset = "UTF-8">
        <title>Sherlock-Holmes</title>
        <link rel = 'stylesheet' type = 'text/css' href = "../static/css/404.css">
    </head>
    <body>
        <header class = 'container'>
            <a href = "./index.html" class = 'title'>SHERLOCK HOLMES</a>
        </header>
            <section class = 'container'>
                <div>
                    <h2>404 : 페이지가 없습니다!</h2>
                    <p>메인 페이지로 가셔서 다시 시도해주세요.</p>
                    <a class="list-btn" href="/">
                        <button>
                            목록으로 돌아가기
                        </button>
                    </a>
                </div>
            </section>
        <footer>
        </footer>
    </body>
</html>