<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sherlock-Holmes</title>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
    <header class = 'container'>
        <button class = 'back' onclick = 'window.history.back()'>⬅</button>
        <a href = "/" class = 'title'>SHERLOCK HOLMES</a>
    </header>
    <section class="container">
        <span class="containerTitle">
            정답입니다!
        </span>
        <span class="sub">
            정말 잘하셨어요! 다른 문제도 풀어 볼까요?
        </span>
        <a class="list-btn" href="/">
            <button>
                목록으로 돌아가기
            </button>
        </a>
    </section>
</body>
</html>