<!DOCTYPE html>
<html>
    <head> 
        <meta charset = "UTF-8">
        <title>Sherlock-Holmes</title>
        <link rel = 'stylesheet' type = 'text/css' href = "{{ url_for('static', filename='css/index.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src = "../static/js/index.js"></script>
    </head>
    <body>
        <header class = 'container'>
            <a href = "/" class = 'title'>SHERLOCK HOLMES</a>
        </header>
            <section class = 'container'>
                <div class = 'info'>
                    <h1>정답을 맞춰보세요!</h1>
                    <a href = "/present" title = '문제 출제하기'><button>문제 출제하기</button></a>
                    <p>출제자의 그림을 보고 어떤 그림인지 추측해보세요.</p>
                </div>
                <div class = 'quizList'>
                    <ul>
                        <a href = "/quiz"><li></li></a>
                    </ul>
                </div>
            </section>
        <footer>
        </footer>
    </body>
</html>