 <!DOCTYPE html>
<html>
    <head> 
        <meta charset = "UTF-8">
        <title>Sherlock-Holmes</title>
        <link rel = 'stylesheet' type = 'text/css' href = "../static/css/index.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src = "../static/js/index.js"></script>
        <meta property="og:title" content="Sherlock Holmes" />
        <meta property="og:description" content="문제를 출제하고 맞춰보세요!" />
        <meta property="og:image" content="../static/image/셜록홈즈.png" />
    </head>
    <body>
        <header class = 'container'>
            <button class = 'back' onclick = 'window.history.back()'>⬅</button>
            <a href = "/" class = 'title'>SHERLOCK HOLMES</a>
        </header>
            <section class = 'container'>
                <div class = 'info'>
                    <h1>정답을 맞춰보세요!</h1>
                    <a href = "/quizPresent" title = '문제 출제하기'><button>문제 출제하기</button></a>
                    <p>출제자의 그림을 보고 어떤 그림인지 추측해보세요.</p>
                </div>
                <div class = 'quizList'>
                    <ul>
                    </ul>
                </div>
            </section>
        <footer>
        </footer>
    </body>
</html>