<!DOCTYPE html>
<html>
    <head> 
        <meta charset = "UTF-8">
        <title>Sherlock-Holmes</title>
        <link rel = 'stylesheet' type = 'text/css' href = "{{ url_for('static', filename='css/present.css') }}">
    </head>
    <body>
        <header class = 'container'>
            <a href = "{{ url_for('index') }}" class = 'title'>SHERLOCK HOLMES</a>
        </header>
            <section class = 'container'>
                <div class = 'info'>
                    <h1>문제를 만들어 보세요!</h1>
                    <p>그림을 그려 문제를 출제해 보세요.</p>
                </div>
                <div class = 'drawingCanvas'>
                </div>
                <div class = 'configWrapper'>
                    <div class = 'colorPalette'>
                        <h2>Color Palette</h2>
                        <input type = 'radio' name = 'colorPalette' value = '#000000' class = 'radioButton' id = 'radioBlack' checked>
                        <input type = 'radio' name = 'colorPalette' value = '#EB445A' class = 'radioButton' id = 'radioRed'>
                        <input type = 'radio' name = 'colorPalette' value = '#F19A37' class = 'radioButton' id = 'radioOrange'>
                        <input type = 'radio' name = 'colorPalette' value = '#F7CE46' class = 'radioButton' id = 'radioYellow'>
                        <input type = 'radio' name = 'colorPalette' value = '#76D672' class = 'radioButton' id = 'radioGreen'>
                        <input type = 'radio' name = 'colorPalette' value = '#78C6F5' class = 'radioButton' id = 'radioBlue'>
                        <input type = 'radio' name = 'colorPalette' value = '#3478F6' class = 'radioButton' id = 'radioNavy'>
                        <input type = 'radio' name = 'colorPalette' value = '#5856CF' class = 'radioButton' id = 'radioViolet'>
                    </div>
                    <div class = 'stroke'>
                        <h2>Stroke</h2>
                        <input type = 'range' min = '1' max = '100' value = '50'>
                    </div>
                </div>
                <form>
                    <input type = 'text' placeholder = '정답을 입력해 주세요.'>
                    <input type = 'submit' value = '문제 출제하기'>
                </form>
            </section>
        <footer>
        </footer>
    </body>
</html>