<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sherlock-Holmes</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="../static/js/wrong.js">
    </script>
</head>
<body>
    <header class = 'container'>
        <a href = "/" class = 'title'>SHERLOCK HOLMES</a>
    </header>
    <section class="container">
        <span class="wrong">
            아쉬워요
        </span>
        <span class="sub">
            거의 다 맞췄는데... 다른 문제를 맞춰보세요!
        </span>
        <div class="answer">
            <span class="answer__correct">
                정답:
            </span>
            <span class="answer__thing">

            </span>
        </div>
        <a class="list-btn" href="/">
            <button>
                목록으로 돌아가기
            </button>
        </a>
    </section>
</body>
</html>